
.item-box{
    background-color: white;
    box-shadow: none;
    padding: 5px 5px 5px 5px ;
}
  
.btn {
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
   }
   
  .button{
    background: rgb(22, 90, 200);
    width: 70px;
    color:white;
    border-radius: 5px ;
    padding: 2px 0 3px 0 ;
    font-weight: 500;
  }
  
 